.container {
  background-color: #F0F0F0;
}

.top-grid {
  display: grid;
  gap: .1%;
  grid-template-rows: 8% 50%;
  grid-template-columns: 10% 90%;

  .header-title {
    background-color: white;
  }

  .search-bar {
    background-color: white;
  }

  .filter {
    background-color: white;
  }
}

.item-grid {
  display: grid;
  gap: 1% .5%;
  grid-template-columns: 19.45% 19.45% 19.45% 19.45% 19.45%;
  border-radius: 5px;
  margin-top: .5%;
  margin-left: .5%;
  .header-test {
    border-radius: inherit;
    background-color: white;
  }

  .item {
    border-radius: inherit;
    background-color: white;
    text-align: center;
  }
}

.header-test {
  grid-column: span 5;
}



